<DOCTYPE! html>
<html>
<head>
  <title>To-Do App</title>
</head>
<body>
  <form action="/add" method="post">
    <input type="text" name="task" autofocus autocomplete="off"/>
    <input class="btn" type="submit" value="Add task" />
  </form>
  <br>
  <br>
  <ul>
    <% tasks.each do |todo| %>

    <li>
    <% if todo.important %>
    <input type="checkbox" name="important" checked="checked">
    <% else %>
    <input type="checkbox" name="important">
    <% end %>
    <% if todo.urgent && todo.done %>
    <span class="urgent strikethrough"><%= todo.task %></span>
    <% elsif todo.urgent %>
    <span class="urgent"><%= todo.task %></span>
    <% elsif todo.done %>
    <span class="strikethrough"><%= todo.task %></span>
    <% else %>
    <span><%= todo.task %></span>
    <% end %>
      <form action="/done" method="POST">
      <input type = "hidden" name="task" value ="<%= todo.task%>">
        <% if todo.done %>
        <input type = "submit" value ="UnDone">
        <% else %>
        <input type = "submit" value ="Done">
        <% end %>
      </form>
        <form action="/urgent" method="POST">
        <input type = "hidden" name="task" value ="<%= todo.task%>">
        <input type ="submit" value="Urgent">
        </form>
        <form action="/important" method="POST">
        <input type = "hidden" name="task" value ="<%= todo.task%>">
        <input type ="submit" value="Important">
        </form>
        <form action="/delete" method="POST">
        <input type = "hidden" name="task1" value ="<%= todo.task %>">
        <input type ="submit" value="delete">
        </form>
    </li>
    <% end %>
  </ul>

<style type="text/css">
html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}
ul, li {
    list-style-type: none;
}

li{
  margin-left: -60px;
}
.urgent {
  color: red;
}
form {
  display: inline;
}
.strikethrough {
  text-decoration: line-through;
}
</style>
</body>
</html>
